@tailwind base;
@tailwind components;
@tailwind utilities;


input {
  caret-color: transparent;
  /* For Firefox */
}

input::-moz-placeholder {
  color: transparent;
}

input:-ms-input-placeholder {
  color: transparent;
}

input::placeholder {
  color: transparent;
}



::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #df1e2f;
}